<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>CorePlot.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>TBXML.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>iOS-KML-Framework.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BCA74491187D91E56ECB224C938E29A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410B25DF16EA5C5B3E2698F74F9625FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE7CDCFA93C07A1BB5063FD814F439C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>820EE272A9AE7A46CB98CF42727FD68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBEE7D9E84745D81EA268430473984C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
